.app-title {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.filter-container {
  display:flex;
  flex-flow: column;
  margin-bottom: 15px;
}

.restaurant-list {
  margin-bottom:15px;
}

.loading-container {
  display: flex;
  justify-content: center;
}
